.loader {
    font-size: 100px;
    animation: spin linear 1s infinite;
    color: purple;
}
.loadingContainer{
    position: absolute;
    display: flex;
    width: 90%;
    height: 96vh;
    justify-content: center;
    align-items: center;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}